/connect_to_mss/target/
/upa-test-service/target/
/charisma/nbproject/private/
/mss-dashboard/nbproject/private/
/mss-dashboard-hal/target/
/mss-dashboard-service/target/
/mss-dashboard-web/target/
/HTML5Application/nbproject/private/
/adadptcharisma/nbproject/private/
/HTML5Application1/nbproject/private/
/target/
/appboolean/nbproject/private/
/appboolean/build/
/mss-dashboard-test/target/
/HTML5Application2/nbproject/private/
/mss-dashboard-9dim/nbproject/private/