<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monitoring of the traffic</title>
        <link rel="stylesheet" href="css/app.css"/>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    </head>
    <body ng-controller="MyCtrl1">
        <ul class="menu">
            <li><a href="#/trafficIN">Traffic IN for SIGU</a></li>
            <li><a href="#/trafficOUT">Traffic OUT for SIGU</a></li>
            <li><a href="#/LoadCPU">LoadCPU</a></li>
            <li><a href="#/Bandwidth">Bandwidth</a></li>
        </ul>
        <form>
            <fieldset>
                 <legend>Traffic Management</legend>
        <p>
            <input type = "submit" ng-model="display10sigu" value="Top 10 SIGU" />
        </p>       
                <p>Range SIGU from :
                    <!--select ng-model="sigu1">
                        <option ng-repeat="onetraffic in alltraffics" value="{{onetraffic.siguName}}">{{onetraffic.siguName}}</option>
                        <option value="">-- choose SIGU Name --</option>
                    </select--> 
                    <!--select ng-change="selectSIGUupdate()" ng-model="siguSelected" -->
                    <select ng-model="siguSelected"  ng-change="update()">
                        <option value="">-- choose SIGU Name --</option>
                        <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>
                       
                    </select>  to :
                    <select ng-model="siguSelected2" ng-change="update()">
                        <option value="">-- choose SIGU Name --</option>
                        <option ng-repeat="onesigu in sigunames" value="{{onesigu.id}}">{{onesigu.siguName}}</option>          
                    </select> 
                     <p>
            <input type = "submit" ng-model="submit" ng-change="updateRange()"value="Submit" />
        </p> 
                <p> Name For First Sigu: <input ng-model="siguSelected"></p>
                <p> Name For Last Sigu: <input ng-model="siguSelected2"></p>
        
        <P>Select the SIGU you want to see
        <select ng-model="siguSelected"  ng-change="update()">
                        <option value="">-- choose SIGU Name --</option>
                        <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>
                       
        </select>
        </p>    
        <p>
             <select id="chartType" ng-change="selectType(chartType)" ng-model="chartType" ng-options="c.typeName for c in chartTypes">
        </select> 
        </p>
            </fieldset>
        </form>
        <div ng-view></div>

      

        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-route.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
