<!doctype html>
<html ng-app="myApp">
    <head>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
        <meta charset="utf-8">
        <title>Monitoring of the traffic</title>
        <link rel="stylesheet" href="css/app.css"/>
       
    </head>
    <body ng-controller="MyCtrl1">
         <!-- Split button -->
         <div ng-controller="DropdownCtrl">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-danger">Action</button>
      <button type="button" class="btn btn-danger dropdown-toggle">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    </div>

        <!-- Single button -->
        <!--div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div-->
        <ul class="menu">
            <li><a href="#/trafficIN">Traffic IN for SIGU</a></li>
            <li><a href="#/trafficOUT">Traffic OUT for SIGU</a></li>
            <li><a href="#/LoadCPU">LoadCPU</a></li>
            <li><a href="#/Bandwidth">Bandwidth</a></li>
        </ul>
        <form>
            <fieldset>
                <legend>Traffic Management</legend>
                <p>
                    <input type = "submit" ng-model="display10sigu"  ng-click="updateShowTop10()" value="Top 10 SIGU" />
                </p>     
                <p>
                    <input type = "submit" ng-model="displayallsigu"  ng-click="updateShowAll()" value="Show All SIGUs" />
                </p> 
                <p>Range SIGU from :
                    <!--select ng-model="sigu1">
                        <option ng-repeat="onetraffic in alltraffics" value="{{onetraffic.siguName}}">{{onetraffic.siguName}}</option>
                        <option value="">-- choose SIGU Name --</option>
                    </select--> 
                    <!--select ng-change="selectSIGUupdate()" ng-model="siguSelected" -->
                    <select ng-model="siguSelected"  ng-change="update()">
                        <option value="">-- choose SIGU Name --</option>
                        <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>

                    </select>  to :
                    <select ng-model="siguSelected2" ng-change="update()">
                        <option value="">-- choose SIGU Name --</option>
                        <option ng-repeat="onesigu in sigunames" value="{{onesigu.id}}">{{onesigu.siguName}}</option>          
                    </select> 

                    <input type = "submit" ng-click="updateRange()"value="Submit" />
                </p> 
                <!--p> Name For First Sigu: <input ng-model="siguSelected"></p>
                <p> Name For Last Sigu: <input ng-model="siguSelected2"></p-->

                <P>Select the SIGU you want to see</p>
                <select ng-model="siguSelected3"  ng-change="updateRange11()">
                    <option value="">-- choose SIGU Name --</option>
                    <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>

                </select>
                <p> Name For Last Sigu: <input ng-model="siguSelected3"></p>

                <p>
                    <select id="chartType" ng-change="selectType(chartType)" ng-model="chartType" ng-options="c.typeName for c in chartTypes">
                    </select> 
                </p>
            </fieldset>
        </form>
        <div ng-view></div>

    <!--li class="dropdown">
        <a class="dropdown-toggle">
            Click me for a dropdown, yo!
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat="choice in items">
                <a>{{choice}}</a>
            </li>
        </ul>
    </li-->




    <!--div class="row-fluid sortable">
        <div class="box span4">
            <div class="box-header well">
                <h2><i class="icon-th"></i> Tabs</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#all">Show All</a></li>
                    <li><a href="#range">Range</a></li>
                    <li><a href="#top10">Top10</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="all">
                        <h3>Charisma the time thaht you want to display your chart</h3>

                    </div>
                    <div class="tab-pane" id="range">
                        <h3>Range your SIGUs from .... to</h3>

                    </div>
                    <div class="tab-pane" id="top10">
                        <h3>Here you will see your top 10 SIGU which have the maximum of traffic</h3>
                    </div>
                </div>
            </div>
        </div><!--/span-->

        <!--div class="box span4">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-user"></i> Member Activity</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="box-content">
                    <ul class="dashboard-list">
                        <li>
                            <a href="#">
                                <img class="dashboard-avatar" alt="Usman" src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50"></a>
                            <strong>Name:</strong> <a href="#">Usman
                            </a><br>
                            <strong>Since:</strong> 17/05/2012<br>
                            <strong>Status:</strong> <span class="label label-success">Approved</span>                                  
                        </li>
                        <li>
                            <a href="#">
                                <img class="dashboard-avatar" alt="Sheikh Heera" src="http://www.gravatar.com/avatar/3232415a0380253cfffe19163d04acab.png?s=50"></a>
                            <strong>Name:</strong> <a href="#">Sheikh Heera
                            </a><br>
                            <strong>Since:</strong> 17/05/2012<br>
                            <strong>Status:</strong> <span class="label label-warning">Pending</span>                                 
                        </li>
                        <li>
                            <a href="#">
                                <img class="dashboard-avatar" alt="Abdullah" src="http://www.gravatar.com/avatar/46056f772bde7c536e2086004e300a04.png?s=50"></a>
                            <strong>Name:</strong> <a href="#">Abdullah
                            </a><br>
                            <strong>Since:</strong> 25/05/2012<br>
                            <strong>Status:</strong> <span class="label label-important">Banned</span>                                  
                        </li>
                        <li>
                            <a href="#">
                                <img class="dashboard-avatar" alt="Saruar Ahmed" src="http://www.gravatar.com/avatar/564e1bb274c074dc4f6823af229d9dbb.png?s=50"></a>
                            <strong>Name:</strong> <a href="#">Saruar Ahmed
                            </a><br>
                            <strong>Since:</strong> 17/05/2012<br>
                            <strong>Status:</strong> <span class="label label-info">Updates</span>                                  
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--/span-->

        <div class="box span4">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-list-alt"></i> Realtime Traffic</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="realtimechart" style="height:190px;"></div>
                <p class="clearfix">You can update a chart periodically to get a real-time effect by using a timer to insert the new data in the plot and redraw it.</p>
                <p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>
            </div>
        </div><!--/span-->
    </div--><!--/row-->
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
