<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>


<div id="chartdiv"></div>	
<!--p> Filter <input type="text" ng-model="time"/> </p>
<div g-chart></div>
<p>Selected Item is :<b>{{selected.siguName}}</b></p>

<table border='1'>
    <tr>
        <th>SIGU_ID</th>
        <th>PACKET_SENT</th>
        <th>TIME</th>
    </tr>
    
     <tr ng-repeat="onetraffic in traffic | filter:time"
         ng-click="showSelectedElement(onetraffic)"
         ng-class-even="'even'" 
         ng-class-odd="'odd'">
        <td>{{onetraffic.siguId}}</td>
        <td>{{onetraffic.packetsent}}</td>
        <td>{{onetraffic.dateExec | date:'yyyy-MM-dd @ HH:mm '}}</td>
    </tr>
</table-->
