<p> Filter <input type="text" ng-model="time"/> </p>

<p>Selected Item is :<b>{{selected.siguName}}</b></p>

<table border='1'>
    <tr>
        <th>SIGU_NAME</th>
        <th>PACKET_RECEIVED</th>
        <th>TIME</th>
    </tr>
    
     <tr ng-repeat="onetraffic in alltraffics | filter:time"
         ng-click="showSelectedElement(onetraffic)"
         ng-class-even="'even'" 
         ng-class-odd="'odd'">
        <td>{{onetraffic.siguName}}</td>
        <td>{{onetraffic.packetsent}}</td>
        <td>{{onetraffic.dateExec}}</td>
    </tr>
</table>
