<p> Filter <input type="text" ng-model="time"/> </p>
<div g-chart></div>
<p>Selected Item is :<b>{{selected.siguId}}</b></p>

<table border="1">
    <tr>
        <th>SIGU_ID</th>
        <th>PACKET_RECEIVED</th>
        <th>TIME</th>
    </tr>
    
    <tr ng-repeat="onetraffic in alltraffics | filter:time"
        ng-click="showSelectedElement(onetraffic)"
        ng-class-even="'even'" 
        ng-class-odd="'odd'">
        <td>{{onetraffic.siguId}}</td>
        <td>{{onetraffic.packetreceived}}</td>
        <td>{{onetraffic.dateExec |date:'yyyy-MM-dd @ HH:mm '}}</td>
        
    </tr>
</table>
