<div class="modal-header">
    <h3 class="modal-title">Please enter your new MSS!</h3>
</div>
<div class="modal-body" >
    <ul>
       
        <li>
            <label>Enter your mss name:</label>
            <input type="text" ng-model="allvars.log">
        </li>
         <li>
            <label>Enter your ip address:</label>
            <input type="text" ng-model="allvars.ip">
        </li>
    </ul>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">SUBMIT</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
