<div class="modal-header">
    <h3 class="modal-title">Please enter your new MSS!</h3>
</div>
<div class="modal-body">
    <ul>
        <li>
            <label>Enter your ip address:</label>
            <input type="text" ng-model="dynamicPopover" class="form-control">
        </li>
        <li>
            <label>Enter your login:</label>
            <input type="text" ng-model="dynamicPopover" class="form-control">
        </li>
        <li>
            <label>Enter your password:</label>
            <input type="text" ng-model="dynamicPopover" class="form-control">
        </li>
    </ul>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">SUBMIT</button>
    <!--button class="btn btn-warning" ng-click="cancel()">Cancel</button-->
</div>
