                <div class="row-fluid">
                    <div class="span12 center login-header">
                        <h2>Welcome to MSS Dashboard</h2>
                    </div><!--/span-->
                </div><!--/row-->

                <div class="row-fluid">
                    <div class="well span5 center login-box">
                        <div class="alert alert-info">
                            Please login with your Username and Password.
                        </div>
                        <!--form class="form-horizontal" action="index3.html" method="post"-->
                        <form class="form-horizontal" method="post">
                            <fieldset>
                                <div class="input-prepend" title="Username" data-rel="tooltip">
                                    <span class="add-on"><i class="icon-user"></i></span><input autofocus class="input-large span10" name="username" id="username" type="text" ng-model="allvars.usr" />
                                </div>
                                <div class="clearfix"></div>

                                <div class="input-prepend" title="Password" data-rel="tooltip">
                                    <span class="add-on"><i class="icon-lock"></i></span><input class="input-large span10" name="password" id="password" type="password" ng-model="allvars.pwd" />
                                    <!--span class="add-on"><i class="icon-lock"></i></span><input class="input-large span10" name="password" id="password" type="password" value="admin123456" /-->
                                </div>
                                <div class="clearfix"></div>

                                <div class="input-prepend">
                                    <!--label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label-->
                                </div>
                                <div class="clearfix"></div>

                                <p class="center span5">
                        <input type = "submit" ng-click="login()" value="Login" class="btn btn-primary"/>

                                </p>
                            </fieldset>
                            <div style="color: red">
                                {{ allvars.error }}
                            </div>
                        </form>
                    </div><!--/span-->
                </div><!--/row-->
