                    <!-- left menu starts -->
                    <div class="span2 main-menu-span">
                        <div class="well nav-collapse sidebar-nav">
                            <ul class="nav nav-tabs nav-stacked main-menu">
                                <li class="nav-header hidden-tablet">Menu</li>

                                <li><a class="ajax-link" href="index.html"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                                <li ng-class="{active: $state.includes('mss.carte',{carte:'sigu'})}"><a class="ajax-link" ui-sref="mss.carte.cpu({carte:'sigu'})"><i class="icon-eye-open"></i><span class="hidden-tablet">SIGU</span></a></li>
                                <li ng-class="{active: $state.includes('mss.carte',{carte:'bsu'})}"><a class="ajax-link" ui-sref="mss.carte.cpu({carte:'bsu'})"><i class="icon-eye-open"></i><span class="hidden-tablet">BSU</span></a></li>
                                <li ng-class="{active: $state.includes('mss.carte',{carte:'vlru'})}"><a class="ajax-link" ui-sref="mss.carte.cpu({carte:'vlru'})"><i class="icon-eye-open"></i><span class="hidden-tablet">VLRU</span></a></li>
                                <li ng-class="{active: $state.includes('ccsu')}"><a class="ajax-link" ui-sref="ccsu.cpu"><i class="icon-font"></i><span class="hidden-tablet"> CCSU</span></a></li>
                                <li ng-class="{active: $state.includes('chu')}"><a class="ajax-link" ui-sref="chu.cpu"><i class="icon-eye-open"></i><span class="hidden-tablet">CHU</span></a></li>
                                <li ng-class="{active: $state.includes('bdcu')}"><a class="ajax-link" ui-sref="bdcu.cpu"><i class="icon-edit"></i><span class="hidden-tablet"> BDCU</span></a></li>
                                <li ng-class="{active: $state.includes('cmu')}"><a class="ajax-link" ui-sref="cmu.cpu"><i class="icon-list-alt"></i><span class="hidden-tablet">CMU</span></a></li>
                                <li ng-class="{active: $state.includes('stu')}"><a class="ajax-link" ui-sref="stu.cpu"><i class="icon-font"></i><span class="hidden-tablet"> STU</span></a></li>
                                <li ng-class="{active: $state.includes('omu')}"><a class="ajax-link" ui-sref="omu.cpu"><i class="icon-list-alt"></i><span class="hidden-tablet">OMU</span></a></li>
                                <li ng-class="{active: $state.includes('cmm')}"><a class="ajax-link" ui-sref="cmm.cpu"><i class="icon-font"></i><span class="hidden-tablet"> CMM</span></a></li>
                                <li>
                                <li class="nav-header hidden-tablet">Sample Section</li>
                                <li><a class="ajax-link" href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Logout</span></a></li>
                                <li><a class="ajax-link" ng-click="open('lg')"><i class="icon-align-justify"></i><span class="hidden-tablet"> Add MSS</span></a></li>

                            </ul>
                        </div><!--/.well -->
                    </div><!--/span-->
                    <!-- left menu ends -->

                    <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                    </noscript>

                    <div ui-view class="span10"></div>



                    <!--footer>
                        <p class="pull-left">&copy; <a href="http://usman.it" target="_blank">Muhammad Usman</a> 2014</p>
                        <p class="pull-right">Powered by: <a href="http://usman.it/free-responsive-admin-template">Ooredoo</a></p>
                    </footer-->
