<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="content" class="">
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well">
                <h2><i class="icon-th"></i> Options</h2>
            </div>
            <div class="box-content">
                <tabset>
                    <tab heading="All"  class="dropdown" active="allvars.optionsTabs[0]" >
                        Click SUBMIT to see all the Traffic
                        <input type = "submit" ng-click="generalUpdate()"value="Submit" class="btn btn-primary"/>
                    </tab>
                    <!--tab heading="All">Click SUBMIT to see all the traffic
                        <input type = "submit" ng-click="updateShowAll()"value="Submit" /></tab-->
                    <tab heading="Range" active="allvars.optionsTabs[1]" >

                        <select ng-model="allvars.siguSelected"  ng-change="">
                            <option value="">-- choose {{ allvars.Indi_Name}} Name --</option>
                            <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>

                        </select>  to :
                        <select ng-model="allvars.siguSelected2" ng-change="">
                            <option value="">-- choose {{ allvars.Indi_Name}} Name --</option>
                            <option ng-repeat="onesigu in sigunames" value="{{onesigu.id}}">{{onesigu.siguName}}</option>          
                        </select> 

                        <input type = "submit" ng-click="generalUpdate()"value="Submit"  class="btn btn-primary" />

                    </tab>
                    <tab heading="Top"  active="allvars.optionsTabs[2]" >
                        Click the button TOP to see the top 10 {{ allvars.Indi_Name}}s which have the most traffic
                        <input type = "submit" ng-click="generalUpdate()" value="TOP 10" class="btn btn-primary"/>
                    </tab>
                    <tab heading="One"  active="allvars.optionsTabs[3]" >

                        <P>Select the {{ allvars.Indi_Name}} you want to see</p>
                        <p>
                            <select ng-model="allvars.siguSelected3"  ng-change="">

                                <option value="">-- choose {{ allvars.Indi_Name}} Name --</option>
                                <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>

                            </select>
                        </p>
                        <input type = "submit" ng-click="generalUpdate()" value="Submit" class="btn btn-primary"/>

                    </tab>
                </tabset>

                <hr />
            </div>
        </div><!--/span-->
        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-list-alt"></i>TrafficIN/TrafficOUT</h2>
                </div>
                <div class="box-content">
                    <!--p>
                        <select id="chartType" ng-change="selectType(chartType)" ng-model="chartType" ng-options="c.typeName for c in chartTypes">
                        </select> 
                    </p-->
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="allvars.chartType" ng-click="onChangeChartType('line')" btn-radio="'line'">LineChart</label>
                        <label class="btn btn-primary" ng-model="allvars.chartType" ng-click="onChangeChartType('column')" btn-radio="'column'">ColumnChart</label>
                    </div>

                    <div class="btn-group pull-right">
                        <label class="btn btn-primary" ng-model="allvars.timingOption" btn-radio="0" ng-click="generalUpdate()">Last Hour</label>
                        <label class="btn btn-primary" ng-model="allvars.timingOption" btn-radio="1" ng-click="generalUpdate()">Last 4 Hours</label>
                        <label class="btn btn-primary" ng-model="allvars.timingOption" ng-click="show()" btn-radio="2">Custom</label>
                    </div>

                    <div my-calendar="mycalendar" ng-model="allvars.dates1" onchange="generalUpdate()"></div>
                    <highchart id="chart1" config="highchartsNG"></highchart>

                    <highchart id="chart2" config="highchartsNGPie"></highchart>
                    
                    <highchart id="chart1" config="highchartsNG1"></highchart>

                    <highchart id="chart2" config="highchartsNGPie1"></highchart>

                    <!--div ng-controller="Index2"-->

                    <div>
                    </div>
                </div>
            </div><!--/span-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>






