<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
    
<div id="content" class="">
    <div class="row-fluid sortable">
        <div class="box span6">
            <div class="box-header well">
                <h2><i class="icon-th"></i> Options</h2>
            </div>
            <div class="box-content">
                <tabset>
                    <tab heading="All"  class="dropdown">Click SUBMIT to see all the % of CPU
                        <input type = "submit" ng-click="updateShowAll()"value="Submit" class="btn btn-primary"/>
                    </tab>
                    <!--tab heading="All">Click SUBMIT to see all the traffic
                        <input type = "submit" ng-click="updateShowAll()"value="Submit" /></tab-->
                    <tab heading="Range">

                        <select ng-model="allvars.siguSelected"  ng-change="">
                            <option value="">-- choose {{ allvars.Indi_Name}} Name --</option>
                            <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>

                        </select>  to :
                        <select ng-model="allvars.siguSelected2" ng-change="">
                            <option value="">-- choose {{ allvars.Indi_Name}} Name --</option>
                            <option ng-repeat="onesigu in sigunames" value="{{onesigu.id}}">{{onesigu.siguName}}</option>          
                        </select> 

                        <input type = "submit" ng-click="updateRange()"value="Submit"  class="btn btn-primary" />

                    </tab>
                    <tab heading="Top">Click the button TOP to see the top 10 {{ allvars.Indi_Name}}s which have the most traffic
                        <input type = "submit" ng-click="" value="TOP 10" class="btn btn-primary"/>
                    </tab>
                    <tab heading="One">

                        <P>Select the {{ allvars.Indi_Name}} you want to see</p>
                        <p>
                            <select ng-model="allvars.siguSelected3"  ng-change="">

                                <option value="">-- choose {{ allvars.Indi_Name}} Name --</option>
                                <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>

                            </select>
                        </p>
                        <input type = "submit" ng-click="updateRange11()" value="Submit" class="btn btn-primary"/>

                    </tab>
                </tabset>

                <hr />
            </div>
        </div><!--/span-->
        <div class="box span6">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-th"></i>Date</h2>

            </div>
            <div class="box-content">
                <div style="display:inline-block; min-height:290px;">
                    <datepicker ng-model="allvars.dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                </div>
            </div>
        </div><!--/span-->
        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-list-alt"></i> Load Percent of CPU</h2>
                </div>
                <div class="box-content">
                    <!--p>
                        <select id="chartType" ng-change="selectType(chartType)" ng-model="chartType" ng-options="c.typeName for c in chartTypes">
                        </select> 
                    </p-->
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="chart.type" btn-radio="3">ColumnChart</label>
                        <label class="btn btn-primary" ng-model="chart.type" btn-radio="1">LineChart</label>
                        <label class="btn btn-primary" ng-model="chart.type" btn-radio="2">BarChart</label>
                    </div>

                    <div class="btn-group pull-right">
                        <label class="btn btn-primary" ng-model="allvars.timing" btn-radio="0" ng-click="onchange()">Last Hour</label>
                        <label class="btn btn-primary" ng-model="allvars.timing" btn-radio="1" ng-click="onchange()">Last 6 Hours</label>
                        <label class="btn btn-primary" ng-model="allvars.timing" ng-click="show()" btn-radio="2">Custom</label>
                    </div>

                    <div my-calendar="myc" ng-model="allvars.dates1" onchange="onchange()"></div>
                     <highchart id="chart1" config="highchartsNG"></highchart>

                    {{ allvars.dates1}}
                    <div g-chart></div>
                    <!--div ng-controller="Index2"-->
                   
                        <div>
                        <ul>
                        <li>
                        <slider floor="100" ceiling="1000" step="50" precision="2" ng-model="alvars.item"></slider>
                        </li>
                    </ul>
                    </div>
                </div>
            </div><!--/span-->
            <div class="box span4">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-list-alt"></i>  % Load at{{ allvars.lasttime}}</h2>
                </div>
                <div class="box-content">
                    <div g-chart2></div>
                </div>
            </div><!--/span-->

        </div>
    </div>
        <!-- content ends -->
    </div><!--/#content.span10-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
     




