<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
       <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
        <meta name="author" content="Muhammad Usman">

        <!-- The styles -->
        <!-- Bootstrap original (de angular ui ) -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- tout les autres css, sont de charisma-->
        <link id="bs-css" href="css/bootstrap-cerulean.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
        <link href="http://usman.it/themes/charisma/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/charisma-app.css" rel="stylesheet">
        <link href="http://usman.it/themes/charisma/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
        <link href='http://usman.it/themes/charisma/css/fullcalendar.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/fullcalendar.print.css' rel='stylesheet'  media='print'>
        <link href='http://usman.it/themes/charisma/css/chosen.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/uniform.default.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/colorbox.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/jquery.cleditor.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/jquery.noty.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/noty_theme_default.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/elfinder.min.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/elfinder.theme.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/jquery.iphone.toggle.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/opa-icons.css' rel='stylesheet'>
        <link href='http://usman.it/themes/charisma/css/uploadify.css' rel='stylesheet'>

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- The fav icon -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <meta charset="utf-8">
        <title>Monitoring of the traffic</title>
        <link rel="stylesheet" href="css/app.css"/>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    </head>
    <body ng-controller="MyCtrl1">
                        <div id="content" class="span10">
                    <!-- content starts -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">KPIs</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html#/LoadCPU">Load CPU</a></li>
                                    <li><a href="#">Bandwidth</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Traffic <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index.html#/trafficIN">TrafficIN</a></li>
                                            <li><a href="index.html#/trafficOUT">TrafficOUT</a></li>
                                            <li><a href="#">Both</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-left" role="search">
                                </form>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>

                    <!--div class="row-fluid">
                        <div class="box span12">
                            <div class="box-header well">
                                <h2><i class="icon-info-sign"></i>Date</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                                          <div ng-controller="DatepickerDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
      <div class="well well-sm" ng-model="dt">
          <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
      </div>
    </div>

    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
    <button class="btn btn-sm btn-success" ng-click="toggleWeeks()" tooltip="For inline datepicker">Toggle Weeks</button>
    <button class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>
                                </div>
                            </div>
                        
                        </div>
                    </div-->


                    <div class="row-fluid sortable">
                        <div class="box span6">
                            <div class="box-header well">
                                <h2><i class="icon-th"></i> Options</h2>
                            </div>
                            <div class="box-content">


                                <tabset>
                                    <tab heading="All">Click SUBMIT to see all the traffic
                                    <input type = "submit" ng-click=""value="SUBMIT" /></tab>
                                    <tab heading="Range">

                                        <select ng-model="siguSelected"  ng-change="update()">
                                            <option value="">-- choose SIGU Name --</option>
                                            <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>

                                        </select>  to :
                                        <select ng-model="siguSelected2" ng-change="update()">
                                            <option value="">-- choose SIGU Name --</option>
                                            <option ng-repeat="onesigu in sigunames" value="{{onesigu.id}}">{{onesigu.siguName}}</option>          
                                        </select> 

                                        <input type = "submit" ng-click="updateRange()"value="Submit" />

                                    </tab>
                                    <tab heading="Top">Click the button TOP to see the top 10 SIGUs which have the most traffic
                                         <input type = "submit" ng-click=""value="TOP 10" />
                                    </tab>
                                    <tab heading="One">

                                        <P>Select the SIGU you want to see</p>
                                        <select ng-model="siguSelected3"  ng-change="updateRange11()">
                                            <option value="">-- choose SIGU Name --</option>
                                            <option ng-repeat="onesigu in sigunames"  value="{{onesigu.id}}">{{onesigu.siguName}}</option>

                                        </select>
                                         <input type = "submit" ng-click=""value="SUBMIT" />

                                    </tab>
                                </tabset>

                                <hr />




                            </div>
                        </div><!--/span-->
<div class="row-fluid sortable">
				<div class="box span6">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-th"></i>Date</h2>
						
					</div>
					<div class="box-content">
                  	
                  </div>
				</div><!--/span-->
			</div><!--/row-->
                        <div class="row-fluid sortable">
                        <div class="box span12">
                            <div class="box-header well" data-original-title>
                                <h2><i class="icon-list-alt"></i> Realtime Traffic</h2>
                            </div>
                            <div class="box-content">
                                <div id="realtimechart" style="height:190px;"></div>
                                <p class="clearfix">You can update a chart periodically to get a real-time effect by using a timer to insert the new data in the plot and redraw it.</p>
                                <p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>
                            </div>
                        </div><!--/span-->
                    </div><!--/row-->




                    <!-- content ends -->
                </div><!--/#content.span10-->
            </div><!--/fluid-row-->
            
            <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-route.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
